<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<table class="tx-car-list" >
	<tr>
		<td>
			<f:translate key="tx_carlist_domain_model_listcar.place" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_carlist_domain_model_listcar.model" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_carlist_domain_model_listcar.year" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_carlist_domain_model_listcar.description" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_carlist_domain_model_listcar.mpg" />
		</td>
		<td>
		</td>
	</tr>
	<tr>
		<td>
			<f:translate key="tx_carlist_domain_model_listcar.image" />
		</td>
		<td>
		</td>
	</tr>
</table>
</html>